body {
    margin: 0;
}

.top-div {
    background-color: deepskyblue;
    height: 50px;
}

.top-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}

.logo {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.logo-svg {
    height: 2rem;
    width: 2rem;
}

.title{
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.new-project-button {
    display: flex;
    gap: 8px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.1s;
}

.new-project-button:hover {
    transition: all 0.1s;
    background-color: lime;
    border: 1px solid green;
    cursor: pointer;
}

.new-project-svg {
    height: 1.5rem;
    width: 1.5rem;
}

.new-project-text {
    align-self: center;
    font-size: 1rem;
}
